<div class="flex items-start justify-start flex-col gap-5 mt-9 ml-5">
    <a href="/" class="text-xl font-[400] opacity-8 self-start textShadow text-green-100"> <i class="ri-dashboard-fill text-yellow-500 shadow-none"></i> Dashboard</a>
    <a href="/about" class="text-xl font-[400] opacity-8 self-start textShadow text-green-100"> <i class="ri-team-fill text-yellow-500 shadow-none"></i> About</a>
</div>