<nav class="fixed z-50 top-0 right-0 grid grid-cols-2 items-center navBar h-[9vh] w-full bg-gradient-to-br bg-blend-soft-light from-[#2a152a] via-[#281228] via-[#270e23] via-[#250b23] to-[#240620]">
    <a href="/" class="title text-3xl ml-3 tracking-wider inline textShadow font-[700] text-gray-50">
        NodeJs
    </a>
    <form action="/" method="get" class="absolute right-5">
        <label class="opacity-7 font-[500] text-[0.9rem] text-white">Search :</label>
        <input type="text" name="SearchTerm" placeholder="Enter..." class="ml-3 h-9 w-[20vw] rounded-b-md rounded-t-lg px-1 py-1">
    </form>
</nav>